@{
    ViewBag.Title = "魔速达财务系统";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title
    </title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        function HideShowFrame() {
            if (document.getElementById("middenFram").cols == "300,*")
            {
                document.getElementById("middenFram").cols = "0,*"
            }
            else {
                document.getElementById("middenFram").cols = "300,*"
            }
        }
    </script>
</head>
<frameset rows="*,30" cols="*" frameborder="no" border="0" framespacing="0">
    <frameset cols="300,*" frameborder="no" border="0" framespacing="0" id="middenFram">
        <frame src="/Home/LeftTest" name="leftFrame" scrolling="No" noresize="noresize" id="leftFrame" title="leftFrame" />
        <frameset rows="104,*" cols="*">
            <frame src="/Home/Top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
            <frame src="/Home/Right" name="mainFrame" id="mainFrame" title="mainFrame" height="100%" />
        </frameset>
    </frameset>
    <frame src="/Home/Bottom" name="topFrame" scrolling="No" noresize="noresize" id="bootomFrame" title="topFrame" />
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>
